<nav>
    <ul id="left-side-nav">
        <li><a href="/profile/edit">Edit Profile</a></li>
        <li><a href="/signers">Signers</a></li>
    </ul>

    <ul id="right-side-nav">
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
