<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Chips Petition</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>

        {{> nav }}
        <h1 class="center">Chips Petition</h1>
        <div class="center" id="images-container">
            <img id="main-denns-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Denns_Biomarkt_logo.svg/1024px-Denns_Biomarkt_logo.svg.png" alt="denns">
            <img id="main-chips-logo" src="https://www.fritolay.com/images/default-source/blue-bag-image/lays-classic.png?sfvrsn=bd1e563a_2" alt="">
        </div>
        <p>About 2 months ago, the supermarket chain stopped carrying my favorite chips.  It's been an emotional and physical struggle not having my favorite potato product.  I ask you to join me in the fight to get these chips restocked at Denn's.</p>

        {{{ body }}}
    </body>
</html>
