<div id="login">
    {{#if error}}
        <p>{{ error }}</p>
    {{/if}}

    <form action="/login" method="post">
        <input type="text" name="email" placeholder="email"  />
        <input type="password" name="password" placeholder="password" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button type="submit">Submit</button>
    </form>

    <a href="/login">Don't have an account? Sign up!</a>
</div>
