<h1>Now enter some more info about yourself!</h1>

<form action="/profile" method="post">
    <input type="text" name="age" placeholder="age">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="url" placeholder="url">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <button type="submit">Submit</button>
</form>
