<h1>Sign the damn thing</h1>

<p>Denn's has gotten rid of my favorite chips. Please sign this petition to get them to stock this wonderful product once again!</p>

<form id="submit-signer-form" method="POST" action="/submit-signer">
    <canvas id="canvas" width="500" height="100"></canvas>
    <input id="hidden-input" type="hidden" name="signature" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Submit</button>
</form>

<script src="/script.js" charset="utf-8"></script>
